body{
    font-family: 'Poppins', sans-serif;
}

.bannnerContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bannerText{
    font-size: 65px;    
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 70px;
}

.d1{
    width: 50%;
}
.d2{
    width: 50%;
}

.bannerParagraph{
    font-weight: 500;
}
.b1{
    background-color: #ff2f13;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.b1p1{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.d3{
    position: relative;
    
}
.d4{
    display: flex;
    align-items: center;
    position :absolute;
    margin-top: -80px;
    background-color: white;
    padding: 10px 15px 15px 10px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px 2px;
    border-radius: 5px;
    border: none;
    width: 150px;
    line-height: 20px;
}

.d5{
    height: 70px;
}

.iconStar{
    font-size: 30px;
    color:#ffdc64;
    margin-right: 10px;
}
.d4h2{
    line-height: 0px;
}

.bannerImage{
    width:95%;
    height: 95%;
}
.featured{
    width : 60%;
    margin: 0 auto;
    margin-top: 150px ;
}

.featuredh1{
    text-align: center;
    font-size: 30px;
}
.featuredp1{
    text-align: center;
}
.feauturedTea{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tea{
    background: rgb(238,238,238);
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    width: 200px;
    height : auto;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}
.imageDiv{
    width:80%
}
.teaImage{
    border-radius: 20px;
    margin: 0 auto;

}
.teah2{
    text-align: center;
}
.teap{
    text-align: center;
}

.gtMain{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.gtImages{
    width : 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.I1{
    width: 180px;
    height : 110px;
    background: rgb(255,232,232);
    background: linear-gradient(90deg, rgba(255,232,232,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    margin: 10px;
}
.I2{
    width: 180px;
    height : 280px;
    background: rgb(255,242,242);
    background: linear-gradient(90deg, rgba(255,242,242,1) 0%, rgba(255,244,244,1) 100%);
    border-radius: 10px;
    margin: 10px;
    text-align: center; 
}
.I2i1{
    width : 95%;
    height: 85%;
    margin: 0 auto;
    margin-top: 20px;
     
}
.I3{
    width: 180px;
    height : 280px;
    background: rgb(237,220,252);
    background: linear-gradient(90deg, rgba(237,220,252,1) 0%, rgba(238,232,245,1) 100%);
    border-radius: 10px;
    margin: 10px;
    margin-top: -170px;
    text-align: center; 
}
.I4{
    width: 180px;
    height : 100px;
    background: rgb(237,220,252);
    background: linear-gradient(90deg, rgba(237,220,252,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    margin: 10px;
}
.gtText{
    width : 50%;
    padding: 20px;

}
.gtTexth4{
    line-height: 10px;
}
    
.customerMain{
    width: 80%;
    margin: 40px auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(255,47,19);
    background: linear-gradient(90deg, rgba(255,47,19,1) 0%, rgba(255,191,126,1) 100%);
    padding: 3rem 3rem;
}

.customerText{
    width : 50%;
}
.c-button{
    background-color: white;
    padding: 20px 10px 15px 20px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255,47,19);
    margin-top: 10px;
    border: 2px solid #fff;
}
.c-button:hover{
    background-color: rgb(255,47,19);
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    

}


.customerText button{
    background: white;
    color : rgb(255,47,19);
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 5px;
}
.coments{
    width: 50%;
    position: initial;
}
.c-img{
    width: 70%;
}
.c-img img{
    width: 100%;
    height: auto;
}
#img1{
    margin-bottom: -150px;
    margin-left: 200px;
    opacity: 0.2;
    position: relative;
    z-index: 0;
}
#img3{
    margin-top: -120px;
    margin-left: 160px;
    opacity: 0.3;
    position: relative;
    z-index: 0;
}
#img2{
    position: relative;
    z-index: 1;
}

.news{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 82%;
    margin : auto;


}

.newsCard{
    width: 30%;
   padding : 1rem;
   border: 2px solid rgb(218, 218, 218);
   border-radius: 25px;
   margin: 15px;
   box-shadow: 10px 10px 10px rgba(rgb(182, 182, 182));
}

.footer{
    background-color: rgb(253, 216, 222);
    width: 100%;
    height: auto;
    padding-top: 50px;
    margin-top: 100px;
}
.part1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.started{
    display: flex;
    justify-content: space-around;

}
.started p {
    margin-right: 25px;
}
.startButton{
    background-color: #ff2f13;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: start;
    
}
.input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
}
.buttonArrow{
    background-color: #ff2f13;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border : none
}
.subscribe{
    display: flex;
    justify-content: center;
}
.socialBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.socialBtn p{
    font-size: 25px;
}