body{
    font-family: 'Poppins', sans-serif;
}

.bannnerContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bannerText{
    font-size: 65px;    
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 70px;
}

.d1{
    width: 50%;
}
.d2{
    width: 50%;
}

.bannerParagraph{
    font-weight: 500;
}
.b1{
    background-color: #ff2f13;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.b1p1{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.d3{
    position: relative;
    
}
.d4{
    display: flex;
    align-items: center;
    position :absolute;
    margin-top: -80px;
    background-color: white;
    padding: 10px 15px 15px 10px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px 2px;
    border-radius: 5px;
    border: none;
    width: 150px;
    line-height: 20px;
}

.d5{
    height: 70px;
}

.iconStar{
    font-size: 30px;
    color:#ffdc64;
    margin-right: 10px;
}
.d4h2{
    line-height: 0px;
}

.bannerImage{
    width:95%;
    height: 95%;
}
.featured{
    width : 60%;
    margin: 0 auto;
    margin-top: 150px ;
}

.featuredh1{
    text-align: center;
    font-size: 30px;
}
.featuredp1{
    text-align: center;
}
.feauturedTea{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tea{
    background: rgb(238,238,238);
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    width: 200px;
    height : auto;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}
.imageDiv{
    width:80%
}
.teaImage{
    border-radius: 20px;
    margin: 0 auto;

}
.teah2{
    text-align: center;
}
.teap{
    text-align: center;
}

.gtMain{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.gtImages{
    width : 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.I1{
    width: 180px;
    height : 110px;
    background: rgb(255,232,232);
    background: linear-gradient(90deg, rgba(255,232,232,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    margin: 10px;
}
.I2{
    width: 180px;
    height : 280px;
    background: rgb(255,242,242);
    background: linear-gradient(90deg, rgba(255,242,242,1) 0%, rgba(255,244,244,1) 100%);
    border-radius: 10px;
    margin: 10px;
    text-align: center; 
}
.I2i1{
    width : 95%;
    height: 85%;
    align-items: center;
     
}
.I3{
    width: 180px;
    height : 280px;
    background: rgb(237,220,252);
    background: linear-gradient(90deg, rgba(237,220,252,1) 0%, rgba(238,232,245,1) 100%);
    border-radius: 10px;
    margin: 10px;
    margin-top: -170px;
    text-align: center; 
}
.I4{
    width: 180px;
    height : 100px;
    background: rgb(237,220,252);
    background: linear-gradient(90deg, rgba(237,220,252,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    margin: 10px;
}
.gtText{
    width : 50%;
    padding: 20px;

}
.gtTexth4{
    line-height: 10px;
}
    

